
<section class="content about-us">
	<h1>About Us</h1>
	<p>
		The News  is an American daily newspaper, founded and continuously published in New York City since September 18, 1851, by The News Company. The News has won 119 Pulitzer Prizes, more than any other newspaper.<br /><br />

		The paper's print version in 2013 had the second-largest circulation, behind The Wall Street Journal, and the largest circulation among the metropolitan newspapers in the US. The News is ranked 18th in the world by circulation. Following industry trends, its weekday circulation had fallen in 2009 to fewer than one million.<br /><br />

		<b>Nicknamed "The Gray Lady", The News has long been regarded within the industry as a national "newspaper of record". It has been owned by the Ochs-Sulzberger family since 1896; Arthur Ochs Sulzberger, Jr., the publisher of the Times and the chairman of the News Company, is the fourth generation of the family to helm the paper. The News international version, formerly the International Herald Tribune, is now called the News International Edition.</b><br /><br />

		The paper's motto, "All the News That's Fit to Print", appears in the upper left-hand corner of the front page. Since the mid-1970s, The News has greatly expanded its layout and organization, adding special weekly sections on various topics supplementing the regular news, editorials, sports, and features. <i>Since 2008, The News has been organized into the following sections: News, Editorials/Opinions-Columns/Op-Ed, News (metropolitan), Business, Sports of The Times, Arts, Science, Styles, Home, Travel, and other features.</i>
	</p>
</section>
