<section class="content">
	<h1>Contact Us</h1>
	<article class="contact">
	<div style="width:400px;max-width:100%;overflow:hidden;height:500px;color:red; float: left;"><div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Beckett+Street,+Leeds,+United+Kingdom&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><style>#google-maps-canvas .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=e6080fc0-e6f3-5267-6a95-6eb4cca49654&c=google-map-code-enabler&u=1478809622" defer="defer" async="async"></script>

	<div class="info-contact">
		<ul>
			<li>
				<b>Name:</b> Ohoud
			</li>
			<li>
				<b>Email:</b> Ohoud@gmail.com 
			</li>
			<li>
				<b>Address:</b> Ohoud street # 3, huddersfield, UNITED KINGDOM
			</li>
		</ul>
	</div>
	</article>
</section>
