<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
	<title>NewsTribe - Admin</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
</head>
<body>

<!-- ***********HEADER************* -->
<header>
	<div class="container">
		<div id="logo">
			<a href="/">The News</a>
		</div>
		<div class="account">
			<ul>
				<li><a href="/logout/">Logout</a></li>
			</ul>
		</div>
	</div>
</header>

<!-- **********SIDEBAR*************-->
<div class="container">
	<aside style="width: 300px;">
		<nav>
			<ul>
				<li><img src="{% static 'media' %}/add.png"><a href="/add_category/">Add Category</a></li>
				<li><img src="{% static 'media' %}/view.png"><a href="/view_category/">View Category</a></li>
				<li><img src="{% static 'media' %}/add.png"><a href="/add_news/">Add News</a></li>
				<li><img src="{% static 'media' %}/view.png"><a href="/view_news/">View News</a></li>
				<li><img src="{% static 'media' %}/view.png"><a href="/view_users/">View User</a></li>
			</ul>
		</nav>
	</aside>
