<section class="content login view" style="width: 812px;">
	<h1>View Category</h1>
	<table>
		<tr>
      <td><label>Id</label></td>
      <td><label>Name</label></td>
      <td><label>Edit</label></td>
      <td><label>Delete</label></td>
    </tr>
    {% for u in record %}
      <tr>	
       <td><label>{{ u.0 }}</label></td>
       <td><label>{{ u.1 }} </label></td>
       <td><label><a href="/edit_category/{{ u.0 }}">Edit</a></td>
       <td><label><a href="/delete_category/{{ u.0 }}">Delete</a></td>
     </tr>
   {% endfor %}
	</table>
</section>

</div>
<!--end container-->
</body>
</html>